notifications:
  email: false
sudo: required
services:
  - docker
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - pip install --upgrade pip setuptools
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt
  - pip install .
script:
  - flake8 civis_jupyter_notebooks
  - pytest -vv civis_jupyter_notebooks
  - |
    if [ ${TRAVIS_PYTHON_VERSION} = 3.7 ]
    then
        ./tests/run_docker_tests.sh tests/Dockerfile
    fi
